#title {
       background-color:#95e1b2;
       hight: 50px;
       width: auto;
       margin: 0 auto;
       border-style: none none solid none;
       border-width: 3px;

}

.main {
       width: 200px;
       margin: 0 auto;
       hight: 50px;

}
/* Text centered*/
.textcenter{
      text-align: center;

}

/* Image centered (100%) + Opacity*/
.imagecenter{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width:100%;
       opacity: 0.5;
}

/* Container Img+Text*/
.container{
       position: relative;
       text-align: center;
       color: black;
     }

/* Top left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top right text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
