

/*header,body,footer*/
header{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 9999;
       hight: 50px;
       width: 100%;
       background-color:#95e1b2;
       border-style: none none solid none;
       border-width: 3px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 40px;
       font-line-height:60px;
       text-align: center;
}
body{  background: url("DOCS/pexels-photo-2425692.jpeg");
       background-size: cover;
       margin: 50px 30px 800px 30px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 22px;
       line-height: 2;
       height: 100%;
}

footer{
       position: fixed;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 9999;
       hight: 50px;
       width: 100%;
       background-color:#95e1b2;
       border-style: solid none none none;
       border-width: 3px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 40px;
       font-line-height:60px;
       text-align: center;
}


/* iframe style */
iframe{ position: relative;

        width: 100%;
        height: 196px;
        margin-top: 2px;
        margin-bottom: 2px;
        border-right: 20px;
         }

/*Classes*/

/* Text centered*/
.textcenter{
        text-align: center;

}

/* Image centered (100%) + Opacity*/
.imagecenter{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width:100%;
       opacity: 0.5;
}





/*new struct*/
.lineone{
       border: solid;
       border-radius: 15px 50px;
       background-color: rgb(255,112,0, 0.8);
       box-shadow: 5px 5px 7px #111;
       text-shadow: 1px 1px 0.5px #444;
       position: relative;
       margin-top: 80px;
       height: 200px;
       display: flex;
}

.linetwo{
       border: solid;
       border-radius: 15px 50px;
       background-color: rgb(255,112,0, 0.8);
       position: relative;
       margin-top: 30px;
       height: 200px;
       display: flex;
}
.leftside{
       display: flex;
       flex-direction: column;
       justify-content: center;
       flex: 1;
       padding-left: 100px;
}
.rightside{
       display: flex;
       flex-direction: column;
       justify-content: center;
       flex: 1;
       padding: 2rem;
       padding-right: 100px;
}
