

/*header,body,footer*/
header{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 9999;
       hight: 50px;
       width: 100%;
       background-color:#95e1b2;
       border-style: none none solid none;
       border-width: 3px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 40px;
       font-line-height:60px;
       text-align: center;
}
body{
     margin: 50px 10px 1000px 10px;
     font-family: Impact, Charcoal, sans-serif;
     font-size: 17px;
}

footer{
       position: fixed;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 9999;
       hight: 50px;
       width: 100%;
       background-color:#95e1b2;
       border-style: solid none none none;
       border-width: 3px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 40px;
       font-line-height:60px;
       text-align: center;
}

/*Classes*/

/* Text centered*/
.textcenter{
      text-align: center;

}

/* Image centered (100%) + Opacity*/
.imagecenter{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width:100%;
       opacity: 0.5;
}

/* bodies page 2*/
.bodyright{
       position: absolute;
       top: 65px;
       right: 20px;
       width: 50%;
}

.comingsoon{
       border: solid;
       border-radius: 5px;
       width: 671px;
       padding-top: 50px;
       padding-bottom: 50px;


}

.bodyleft{
       position: absolute;
       top: 40px;
       left:20px;
       width: 50%;
       font-size:30px;
}

.blockleft1{
       position: relative;
       padding-left: 100px;
       padding-top: 50px
}
.blockleft2{
       position: relative;
       padding-left: 100px;
       padding-top: 65px
}
.blockleft3{
       position: relative;
       padding-left: 100px;
       padding-top: 65px
}


/* iframe style */
.embed{
        width: 100%;
        hight: 300px;
        }