

/*header,body,footer*/
header{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       z-index: 9999;
       width: 100%;
       background-color:#95e1b2;
       border-style: none none solid none;
       border-width: 3px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 40px;
       text-align: center;
}
body{
     margin: 50px 10px 0px 10px;
     font-family: Impact, Charcoal, sans-serif;
     font-size: 17px;



}

footer{
       position: fixed;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 9999;
       width: 100%;
       background-color:#95e1b2;
       border-style: solid none none none;
       border-width: 3px;
       font-family: Impact, Charcoal, sans-serif;
       font-size: 40px;
       text-align: center;

}

/*Classes*/

/* Text centered*/
.textcenter{
      text-align: center;

}

/* Image centered (100%) + Opacity*/
.imagecenter{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width:100%;
       opacity: 0.5;
}


/* Top right text*/
.top-right{
      position: absolute;
      top: 80px;
      right: 60px;
}
/* Top left text */
.top-left{
      position: absolute;
      top: 80px;
      left: 60px;
}
/* Bottom left text */
.bottom-left{
  position: absolute;
      bottom: 180px;
      left: 160px;
}
/* Bottom right text */
.bottom-right{
      position: absolute;
      bottom: -100px ;
      right: 100px;
}
/* Centered text */
.centered{
      position: relative;
      top: 200px;
      bottom:200px;



}
.tracklist{
     background-color: orange;
     border: solid;
     border-radius: 30px;
     padding-top: 50px;
     padding-bottom: 50px;
     font-size: 50px;
     margin-left: 150px;
     margin-right: 150px;
     transition: 1s;
     opacity: 0.7;

}
.tracklist:hover{
     background-color: none;
     width: auto;
     border: solid;
     border-radius: 50px;
     margin-left: 0px;
     margin-right: 0px;
     opacity: 1;
}

/*Social Media Buttons*/

.fa {
       padding: 3px;
       margin-bottom: 2px;
       font-size: 25px;
       width: 50px;
       text-align: center;
       text-decoration: none;
       margin-left: 65px;
       border-radius: 50%;
}

.fa:hover {
       opacity: 0.7;
}

/* Facebook */
.fa-facebook {
      background: #3B5998;
      color: white;
}

.fa-youtube {
      background: #bb0000;
      color: white;


/*Bootsstrap overwrite*/


*,
*::before,
*::after {
  box-sizing: inherit;
}



h2, .h2 {
   font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0 rem;
  font-weight: bold;
  line-height: 1;
}


/******************************************SLIDER**********************************************/
.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}

.sliderElements:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}

.cssSlider {
    overflow-x: hidden;
}

.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 400%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}

.sliderElements > li {
    float: left;
    width: 25%;
    position: relative;
}

#slide02:checked ~ .sliderElements {
    left: -100%;
}

#slide03:checked ~ .sliderElements {
    left: -200%;
}

#slide04:checked ~ .sliderElements {
    left: -300%;
}

/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 1em;
    padding: .4em;
    background: rgba(0,0,0,.5);
}

/* Bilder responsive */
.sliderElements img {
    width: 100%;
    height: auto;
}


/* inputs aus dem Blickfeld schieben */
.cssSlider input {
    position: absolute;
    left: -99999px;
}

/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
    text-align: center;
}

/* Controls nebeneinander bringen */
.sliderControls li {
    display: inline-block;
}

/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: #68B022;
    color: #68B022;
}

/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"] {
    background: #ddd;
    color: #ddd;
}