<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>{{page_title}}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="music, musicproduction, AchtOhm, electronicbeats" name="keywords">
    <meta content="Patrick Ohm" name="author">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/Navigation-Clean.css" rel="stylesheet">

    {% block additional_stylesheets %}{% endblock %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body background="{{page_background}}">
    <header>

        <div>
            <nav class="navbar navbar-light navigation-clean">
                <div class="container">
                    <a class="navbar-brand"
                       href="/">
                        <img class="logo"
                             src="../static/img/Euler's_infinity_sign.svg.png"
                             alt="AchtOhm-Logo">
                    </a>

                    Acht Ohm - Electronic Beats

                    <button class="navbar-toggler"
                            data-target="#navcol-1"
                            data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse"
                         id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active"
                                   href="/">Home
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   href="/tracks">Tracks
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   href="/shop">Shop
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"
                                   href="/contact">Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <p></p>
    <p></p>
    <p></p>


    {% block body_contents %}{% endblock %}

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>

    {% block additional_scripts %}{% endblock %}
</body>

<footer>
    Social Media
    <a class="fa fa-facebook" href="https://www.facebook.com/mhokcirtap" target="_blank"></a>
    <a class="fa fa-youtube" href="https://www.youtube.com/user/Callistoteles/channels?view=56&shelf_id=0"
       target="_blank"></a>
</footer>

</html>