{% extends "base.html" %}


{% block additional_stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link href="/static/css/Simple-Slider.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}


{% block body_contents %}
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(../static/img/analog.jpg);"><a href="/tracks"
                                                                                                     target="_blank">
                    <button class="textinslide">Tracks</button>
                </a></div>
                <div class="swiper-slide" style="background-image:url(../static/img/shop.jpg);"><a href="/shop"
                                                                                                   target="_blank">
                    <button class="textinslide">Shop</button>
                </a></div>
                <div class="swiper-slide" style="background-image:url(../static/img/contact2.jpg);"><a href="/contact"
                                                                                                       target="_blank">
                    <button class="textinslide">Contact</button>
                </a></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="containeracc textcenter">
        <button class="accordion">What types of music will you be hearing?</button>
        <div class="panel">
            <p>
                Underground techno<br>
                Deephouse<br>
                Experimental
            </p>
        </div>

        <button class="accordion">Which gear I used:</button>
        <div class="panel">
            <p>
                Set of Rokit 6's<br>
                Focusrite Audio Interface<br>
                Akai MPK MIDI Console<br>
                Ableton Push 2<br>
                Ableton as DAW
            </p>
        </div>

        <button class="accordion">Who I got my inspiration from:</button>
        <div class="panel">
            <p>
                <a href="https://soundcloud.com/monolink" target="_blank">Monolink // Berlin</a><br>
                <a href="https://soundcloud.com/recondite_music" target="_blank">Recondite // Berlin</a><br>
                <a href="https://soundcloud.com/enrico-sangiuliano" target="_blank">Enrico Sangiuliano // Milan</a><br>
                <a href="https://soundcloud.com/ame" target="_blank">Âme // Berlin</a><br>
                <a href="https://soundcloud.com/dosem" target="_blank">Dosem // Girona</a>
            </p>
        </div>

        <button class="accordion">Next upcoming projects:</button>
        <div class="panel">
            <p>
            <ul type=circle>
                <li>Produce a track containing recorded guitars + vocals</li>
                <li>Produce a track in collaboration with another artist</li>
                <li>Finalize the newest project called "Andromeda"</li>
            </ul>
            </p>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="../static/js/Simple-Slider.js"></script>
    <script src="../static/js/accordion.js"></script>

{% endblock %}



